<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="plantilla/plantilla :: head">
        <title>Mi Ferreteria</title>
    </head>
    <body>
        <header th:replace="plantilla/plantilla :: header"/>
        
        <section th:replace="cliente/fragmentosClient :: botonesAgregar"/>
        <section th:replace="cliente/fragmentosClient :: agregarCliente"/>
        <section th:replace="cliente/fragmentosClient :: listadoClientes"/>
        
        <footer th:replace="plantilla/plantilla :: footer"/>
    </body>
</html>
