<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="plantilla/plantilla :: head">
        <title>Mi Ferretería</title>
    </head>
    <body>
        <header th:replace="plantilla/plantilla :: header"/>
        <div class="contenido">    
            <h2>Gestión de categorias</h2>

            <a th:href="@{/categoria/nuevo}">Nuevo categoria</a>
            <div th:if="${categorias != null and !categorias.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>Activo</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="categoria : ${categorias}">
                            <td th:text="${categoria.descripcion}"></td>
                            <td><input type="checkbox" name="activo" th:checked="${categoria.activo}" disabled="true"></input></td>
                            <td th:text="${categoria.activo}"></td>
                            <td><a th:href="@{/categoria/eliminar/} + ${categoria.idCategoria}">Eliminar</a></td>
                            <td><a th:href="@{/categoria/modificar/} + ${categoria.idCategoria}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>
                <div th:if="${categorias == null or categorias.empty}">  
                </div>
            </div>
            <footer th:replace="plantilla/plantilla :: footer"/>
        </div>
    </body>
</html>